* {
    padding: 0;
    margin: 0;
}

.clearfloat{
    float: none;
    clear: both;
}

body {
    background-color: rgb(67, 216, 204);;
    margin: auto;

}



#general {
    display: block;
    width: 50%;
    height: 50%;
    margin: auto;
    margin-top: 40px;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0px 2px 5px 0px rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    color:  rgb(67, 216, 204);
    font-family: 'Fredoka One', cursive;
    font-family: 'Varela Round', sans-serif;
}

#title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 5em;
    font-family: 'Fredoka One', cursive;
    text-shadow: 5px 2px black;
}

#titleForm{
    text-align: center;
    margin-bottom: 20px;
    font: bolder;
    font-size: 3em;
    font-family: 'Fredoka One', cursive;

}
.campoForm {
    width: 41%;
    display: block;
    float: left;
    margin-left: 50px;
    margin-top: 30px;
    color: black;
    font-family: 'Fredoka One', cursive;
    font-family: 'Varela Round', sans-serif;
    
}
#card{
    border-radius: 20px;
    box-shadow: 0px 2px 5px 0px rgb(0, 0, 0);
    color: black;
}

.marginLeft {
    margin-left: 30px;
}

input {
    font-size: 1em;
    width: 100%;
    padding: 10px;
    border: 2px solid rgb(67, 216, 204);
    border-radius: 5px;
}


button {
    color: #33d9b2;
    display: block;
    width: 85%;
    padding: 20%;
    margin-top: 30px;
    margin-left: 50px;
    box-shadow: 0px 2px 5px 0px rgb(0, 0, 0);
    border: none;
    border-radius: 15px;
    font-family: 'Fredoka One', cursive;
    font-size: 1.5em;
    font: bold;
}



button:hover {
    background:  teal ;
} 

/* Link que redirecciona al formulario de registro */

#registerLink {
    text-align: right;
    margin-right: 0%;
    margin-top: 0%;
}

#registerLink a{
    text-decoration: none;
    font: bold;
    font-family: 'Fredoka One', cursive;
    color:  #33d9b2 ;

}



#registerLink a:hover {
    color: teal;
}