<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Varela+Round&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/estilo1.css">
    <title>Resgistro Satisfactorio</title>
</head>
<body>
    <div class="general">
        <!-- Encabezado -->
    
        <header>
            <h2 id="titleForm">Bienvenido a TU MASCOTA</h2>
            <p id="registroExito">Te has registrado con éxito.<br> <br>
                <a href="../index.php">Inicia Sesión</a>
            </p>

        </header>

    </div>
</body>
</html>